<div class="body">
  <div class="text-image">
    <h1>
      A segurança <br />
      da sua familia <br />é
      <strong> nossa prioridade</strong>
    </h1>
  </div>

  <div class="second-div">
    <h1>
      Proteção <br />
      para
      <strong> todos</strong>
    </h1>
    <div class="div-protecao">
      <div class="div-prot-1">
        <img class="menino" src="../../../assets/img/menino.jpg" />
        <div class="spacing">
          <h1 class="prot-h1">Rede de proteção <br />para crianças</h1>
          <p class="justify-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
            tempor sagittis placerat.
          </p>
          <p class="saiba-mais">
            <a href=""
              >SAIBA MAIS
              <mat-icon class="material-icons-outlined" id="saiba-mais">
                arrow_right_alt
              </mat-icon></a
            >
          </p>
        </div>
      </div>
      <div class="div-prot-2">
        <img class="menino" src="../../../assets/img/menino.jpg" />
        <div class="spacing">
          <h1 class="prot-h1">Rede de protecao <br />para idosos</h1>
          <p class="justify-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
            tempor sagittis placerat.
          </p>
          <p class="saiba-mais">
            <a href=""
              >SAIBA MAIS
              <mat-icon class="material-icons-outlined" id="saiba-mais">
                arrow_right_alt
              </mat-icon></a
            >
          </p>
        </div>
      </div>
      <div class="div-prot-3">
        <img class="menino" src="../../../assets/img/menino.jpg" />
        <div class="spacing">
          <h1 class="prot-h1">Rede de protecao <br />para animais</h1>
          <p class="justify-p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
            tempor sagittis placerat.
          </p>
          <p class="saiba-mais">
            <a href=""
              >SAIBA MAIS
              <mat-icon class="material-icons-outlined" id="saiba-mais">
                arrow_right_alt
              </mat-icon>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="terceira-div">
    <p>
      Não basta ter <br />
      <strong>segurança</strong>, tem<br />
      que ter <strong> confiança</strong>
    </p>
  </div>
  <div class="div-dados">
    <div>
      <img class="menino" src="../../../assets/img/menino.jpg" />
    </div>
    <div>
      <img class="menino" src="../../../assets/img/menino.jpg" />
    </div>
    <div>
      <img class="menino" src="../../../assets/img/menino.jpg" />
    </div>
  </div>
  <div class="especialista-div">
    <div>
      <p class="p1">
        Fale com um <br />
        <strong> especialista</strong>
      </p>
      <p class="p2">
        E descubra as melhores opções<br />
        <strong> para a sua necessidade</strong>
      </p>
      <button class="btn-esp" href="#">FALAR <strong>AGORA</strong></button>
    </div>
  </div>
  <div class="quarta-div">
    <p>
      Porque <br />
      nos<strong> escolher</strong>
    </p>
  </div>
  <div class="div-qualidades">
    <div class="qualidades">
      <p>Garantia</p>
    </div>
    <div class="qualidades">
      <p>Qualidade</p>
    </div>
    <div class="qualidades">
      <p>Qualidade</p>
    </div>
    <div class="qualidades">
      <p>Experiencia</p>
    </div>
    <div class="qualidades">
      <p>Experiencia</p>
    </div>
  </div>
</div>
