<div class="body">
  <div class="text-image">
    <h1>
      A segurança <br />
      da sua familia <br />é
      <strong> nossa prioridade</strong>
    </h1>
  </div>

  <div class="second-div">
    <h1>
      Proteção <br />
      para
      <strong> todos</strong>
    </h1>
    <div class="div-protecao">
      <div class="div-prot-1">
        <img class="menino" src="../../../assets/img/menino.jpg" />
        <h1>Rede de proteção <br />para criancas</h1>
        <p class="justify-p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempor
          sagittis placerat. Aenean a lectus lobortis, efficitur magna at,
          laoreet enim. Quisque viverra tincidunt pretium. Nullam consequat
          egestas nisi, ac venenatis nisl posuere non.
        </p>
      </div>
      <div class="div-prot-2">
        <img class="menino" src="../../../assets/img/menino.jpg" />
        <h1>Rede de protecao <br />para idosos</h1>
        <p class="justify-p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempor
          sagittis placerat. Aenean a lectus lobortis, efficitur magna at,
          laoreet enim. Quisque viverra tincidunt pretium. Nullam consequat
          egestas nisi, ac venenatis nisl posuere non.
        </p>
      </div>
      <div class="div-prot-3">
        <img class="menino" src="../../../assets/img/menino.jpg" />
        <h1>Rede de protecao <br />para animais</h1>
        <p class="justify-p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempor
          sagittis placerat. Aenean a lectus lobortis, efficitur magna at,
          laoreet enim. Quisque viverra tincidunt pretium. Nullam consequat
          egestas nisi, ac venenatis nisl posuere non.
        </p>
      </div>
    </div>
  </div>
</div>
