<div class="toolbar">
  <div class="t1">
    <div class="items">
      <p>
        <mat-icon class="material-icons-outlined"> phone </mat-icon>
        <span>41 9 92618413</span>
      </p>

      <p>
        <mat-icon class="material-icons-outlined"> phone </mat-icon>
        <span>41 9 92618413</span>
      </p>
    </div>
  </div>
  <div class="t2">
    <div class="items2">
      <p>
        <mat-icon class="material-icons-outlined"> phone </mat-icon>
      </p>
      <p>
        <mat-icon class="material-icons-outlined"> phone </mat-icon>
      </p>
      <p>
        <mat-icon class="material-icons-outlined"> phone </mat-icon>
      </p>
      <p>
        <mat-icon class="material-icons-outlined"> phone </mat-icon>
      </p>
    </div>
  </div>
</div>
